*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    background-color: black;
}

.navbar
{
    background-color: black;
    width: 100%;
    height: 60px;
    z-index: 1000;
}

.navbar ul
{
    float: right;
}

.navbar ul li 
{
    float: right;
    list-style: none;
    position: relative;
    right: 70px;
}

.navbar ul li a 
{
    display: block;
    text-decoration: none;
    color: white;
    padding: 20px 15px;
}

.navbar ul li ul 
{
    display: none;
    position: absolute;
    background-color: black;
    padding: 10px;
}

.navbar ul li:hover ul  
{
    display: block;
    z-index: 1000;
}

.navbar ul li ul li 
{
   width: 100px;
}

.navbar ul li ul li a 
{
    padding: 10px 10px;
    position: relative;
    left: 70px;
}

.navbar ul li ul li a:hover
{
    background-color:rgb(156, 156, 156);
}

.logo
{
    width: 200px;
    position: relative;
    bottom: 38px;
    left: 30px;
}

/*lore*/
.lore img 
{
    width: 500px;
}

.lore
{
    position: absolute;
  padding: 50px 300px;
  width: 100%;
  text-align: center; 
  top:-40px; 
}

.lore p 
{
    position: relative;
    color: white;
    font-size: 20px;
    bottom: 100px;
}

/* footer */

footer
{
    position: relative;
    clear: both;
    top: 700px;
    text-align: center;
    background-color:rgba(156, 156, 156, 0.8);
    height: 200px;
}

.allfoot
{
    position: relative;
    top: 50px;
}

.desc-foot
{
    color: #FF0000;
}

.desc-foot p 
{
    color: black;
}

.sosmed img
{
    width: 25px;
    margin: 10px;
    border-radius: 5px;
}